@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600&display=swap');

body {
    background-image: url(../images/b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    padding: 1em 0;
    background-color: cadetblue;
    color: #fff;
}

h1 {
    font-family: monospace;
    font-size:60px;
    text-align: center;
    color: mediumblue;
    text-shadow: 5px 5px 8px black;
}

.menu {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

h2 {
    font-family: monospace;
    font-size: 50px;
    text-align: left;
    color: orange;
    text-shadow: 4px 4px 6px black;
}


h3 {
    font-family: monospace;
    font-size: 40px;
    text-align: left;
    color: orange;
    text-shadow: 4px 4px 6px black;
}

h4 {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    color: blue;
    text-shadow: 4px 4px 6px black;
}

h5 {
    font-family: monospace;
    font-size: 40px;
    text-align: center;
    color: blue;
    text-shadow: 4px 4px 6px black;
}

h6 {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    color: black;
    text-shadow: 4px 4px 6px black;
    
}

.place-order {
    background-color: darkgrey;
    font-size: 11px;
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    color: black;
}

.checkout-section {
    padding: 0.75em 0;
    border-top: 1px solid;
}

#pizza-details {
    color: black;
}

.delivery-section {
    font-size: 11px;
    border-radius: 25px;
    margin-left: 45%;
    margin-right: 35%;
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 30%;
    color: black;


}

#price-details  {
    text-align: left;
    padding: 0;
    padding-left: 5%;
}

#order-details {
    text-align: left;
    font-size: 20px;
    border: 2px solid black;
    padding-top: 10px;
    border-style: dashed;
    color: #FDB913
}

.cart-section {
    background-color: cyan;
}

input[type=text] {
    background-color: transparent;
}

.footer {
    background-color: darkcyan;
    text-align: center;
    font-size: 15px;
    color: black;
    padding-top: 5%;
}



