@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600&display=swap');

.home {
    background-image: url(../images/h_pizza.jpg);
    background-size: cover;
    padding: 300px;
    background-repeat: no-repeat;
}

h1 {
    font-family: monospace;
    font-size:70px;
    text-align: center;
    color: mediumblue;
    text-shadow: 4px 4px 6px black;
}

h3 {
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    color: orange;
    text-shadow: 4px 4px 6px black;
}

.place-order {
    background-color: cornflowerblue;
    font-size: 20px;
    border-radius: 25px;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 15%;
    color: red;
}



